.filtered-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('backgroundimage.png'); 
    background-size: cover;
    background-position: center;
    filter: brightness(0.4) contrast(1) saturate(1.5);
    z-index: -1; 
  }

/*<nav className="h-full w-[18rem] flex flex-col bg-[#0D4383ff]">*/
.sidebar_menu{
  flex-direction: column;
  background-color: #0D4383ff;
  height: 100%;
  width: 18rem;
  transition: 150ms;
}

.sidebar_menu.active{
  width: 3rem;
  transition: 350ms;
}

.sidebar{
  display: inline;
}

.sidebar.active{
  display: none;
}